<p>Salve <%= @resource.email %>!</p>

<p>Qualcuno ha richiesto un link per cambiare la password. Puoi farlo attraverso il link qui sotto.</p>

<p><%= link_to 'Cambia la mia password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se non lo hai richiesto, ignora questa email.</p>
<p>La tua password non cambierà fino a quando non accedi al link sopra e ne crei una nuova.</p>
